.clear {
    float: none !important;
    clear: both !important;
    display: table !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#bg-dark {
    position: fixed;
    top: -40%;
    left: -40%;
    right: -40%;
    bottom: -40%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}
.flexParent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}
.flexChild {
    flex-grow: 1;
}
.frame {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0px;
}
.fr {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-bottom-width: 2px;
}
.fr-convex {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fr-concave {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    font-size: 12px;
    background-color: #222;
    background: linear-gradient(45deg, #eecfba, #c5dde8);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    counter-reset: p_num 0;
}
img {
    border: none;
    display: inline-block;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10.5px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
br {
    clear: both;
}
p {
    margin: 0 0 10.5px;
}
.wrap {
    overflow: hidden;
    float: none;
    clear: both;
}
.p_cont {
    width: 100%;
    padding: 1.6rem 0;
}
.p_side {
    width: 100%;
}
.p_top {
    width: 100%;
}
#before_spells {
    font-weight: bold;
    padding: 0.2em;
    display: inline-block;
    color: #fff;
}
.customCheckbox {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
.customCheckbox .label {
    display: block;
    padding: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 1.4em;
    z-index: 9;
    position: relative;
    color: #ddd;
    transition: background 0.2s ease-out;
    text-transform: capitalize;
}
.customCheckbox .label[data-hierarchy='child'] {
    margin-left: 2.52em;
}
.customCheckbox .label:hover {
    cursor: pointer;
}
.customCheckbox input[type='checkbox'] {
    display: none;
    position: relative;
    /**/
}
.customCheckbox input[type='checkbox'] + .label::before {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top: 0.4em;
    left: -1.1em;
    background: #ddd;
    border: 0.2em solid #cccccc;
    border-radius: 3px;
    transition: border-color 0.2s ease-out;
    box-shadow: inset 0 0 0px 2px #ddd;
}
.customCheckbox input[type='checkbox']:hover + .label::before,
.customCheckbox input[type='checkbox']:checked:hover + .label::before {
    border-color: #aaaaaa;
}
.customCheckbox input[type='checkbox']:checked + .label::before {
    border-color: #bbbbbb;
}
.customCheckbox input[type='checkbox']:checked + .label::after {
    content: '\2714';
    position: absolute;
    top: -0.2em;
    left: -0.75em;
    color: #e8e8e8;
    font-size: 150%;
}
.combo_box {
    position: relative;
}
.combo_box:after,
.combo_box:before {
    content: '';
    float: none !important;
    clear: both !important;
    display: table !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.combo_box input[type='checkbox'] {
    display: none;
    position: relative;
    /**/
}
.combo_box input[type='checkbox'] + label::before {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top: 1em;
    left: -1.1em;
    background: #ddd;
    border: 0.2em solid #cccccc;
    border-radius: 3px;
    transition: border-color 0.2s ease-out;
    box-shadow: inset 0 0 0px 2px #ddd;
}
.combo_box input[type='checkbox']:hover + label::before,
.combo_box input[type='checkbox']:checked:hover + label::before {
    border-color: #aaaaaa;
}
.combo_box input[type='checkbox']:checked + label::before {
    border-color: #bbbbbb;
}
.combo_box input[type='checkbox']:checked + label::after {
    content: '\2714';
    position: absolute;
    top: 0.2em;
    left: -0.75em;
    color: #e8e8e8;
    font-size: 150%;
}
.combo_box label {
    display: block;
    padding: 0.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 1.4em;
    z-index: 9;
    position: relative;
    color: #222;
    transition: background 0.2s ease-out;
}
.combo_box label[data-hierarchy='child'] {
    margin-left: 2.52em;
}
.combo_box label:hover {
    background: #cccccc;
    cursor: pointer;
}
.combo_box .combo_box_content {
    background: #ddd;
    padding: 0.3em 0;
}
.combo_box_arrow {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0.4em 0.2em;
    text-align: center;
}
.combo_box_arrow:hover {
    background: #888888;
}
.combo_box_arrow:active {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0.4em 0.2em;
}
.combo_box_title {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    margin: 0;
    padding: 0.4em 0.2em;
    text-align: center;
}
.combo_box_title:hover {
    background: #888888;
}
.combo_box_title:active {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0.4em 0.2em;
}
.customSelect {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #777;
    padding: 0;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 0;
    position: relative;
    font-size: 100%;
    width: 100%;
}
.customSelect:hover {
    background: #888888;
}
.customSelect:active {
    background: #666666;
}
.customSelect .label {
    padding-right: 2.2em !important;
    position: relative;
    padding: 0.5em 0.2em;
    margin: 0em 0em;
}
.customSelect .label:before {
    content: '▼';
    position: absolute;
    right: 0.3em;
    padding: 0 0.2em;
    transition: color 0.3s, background 0.3s;
}
.customSelect .label:after {
    content: '';
    position: absolute;
    right: 1.7em;
    top: 0.2em;
    bottom: 0.2em;
    border-left: 2px ridge #999999;
}
.customSelect .list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 33;
    background: #ddd;
    border-radius: 0 0 0.2em 0.2em;
    border: 1px solid #bbbbbb;
    margin: 0 0.2em;
    padding: 0.2em 0;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 0.25em;
}
.customSelect .option {
    color: #222;
    cursor: pointer;
    padding: 0.3em 0.2em;
    list-style: none;
    margin: 0;
    text-align: left;
    font-weight: 400;
    transition: color 0.3s, background 0.3s;
}
.customSelect .option:hover {
    background: #cccccc;
}
.customSelect .option:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}
.page {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm 0.5cm;
    margin: 0 auto 10px;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
}
.page:before {
    counter-increment: p_num;
    content: counter(p_num);
    position: absolute;
    left: 50%;
    top: 10px;
}
.page:after {
    content: counter(p_num);
    position: absolute;
    left: 50%;
    bottom: 15px;
}
.subpage {
    text-align: left;
    font-size: 0;
    font-size: 14px;
    padding-left: 1em;
}
.bt {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #777;
    padding: 0.2em;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 100%;
    margin: 0.1em;
}
.bt:hover {
    background: #888888;
}
.bt:active {
    background: #666666;
}
.button {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 1px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 0.9em 1.6em;
    margin: 0.5em 0.5em 0em;
    background: #f9f9f9;
    text-decoration: none;
    color: #e8e8e8;
    transition: box-shadow 0.3s, background 0.3s, color 0.3s;
}
.button:hover {
    background: #fefefe;
    color: #376db4;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
#dbg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 88;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    cursor: pointer;
}
.filterLabel {
    width: 100%;
    padding: 0.2em 0.1em 0;
    font-weight: bold;
}
.filterLabel:after {
    content: ':';
}
.customInput {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.customInput input[type='text'] {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
    background: #fff;
    padding: 0.6em;
    padding-right: 1.4em;
    display: block;
    width: 100%;
    margin: 0;
    color: #222;
    font-weight: 400;
}
.customInput .cross {
    position: absolute;
    top: 0.12em;
    right: 0.2em;
    color: #ddd;
    cursor: pointer;
    margin: 0.3em;
    transition: color 0.3s;
}
.customInput .cross:before {
    content: '✖';
}
.customInput .cross:hover {
    color: #e8e8e8;
    opacity: 0.9;
}
.customInput .cross:active {
    color: #265ca3;
    text-shadow: 0 0 3px 3px #222;
    opacity: 1;
}
.customInput:focus {
    box-shadow: 0 0 5px 0 #e8e8e8;
}
#info_text {
    padding: 0.7em 1.3em;
    background: rgba(255, 255, 255, 0.88);
    color: #222;
    font-weight: 600;
    max-width: 90rem;
}
#topMessage {
    padding: 0.2em;
    padding-bottom: 0.3em;
    background: #e8e8e8;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
#topMessage a {
    color: #fff;
    text-decoration: none;
}
#topMessage .dDetails {
    display: none;
}
#topMessage .bHide {
    align-self: flex-end;
    border: none;
    cursor: pointer;
    padding: 0.1em 0.3em;
    margin: 0.1em 0.1em 0em;
    background: transparent;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s, color 0.3s;
    font-weight: 600;
}
#topMessage .bHide:hover {
    background: #fefefe;
    color: #376db4;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
*[v-cloak] {
    display: none !important;
}
.itemCounter {
    position: fixed;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.mod_win_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    z-index: 999;
}
.mod_win_wrapper .mod_win {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.3em;
    display: flex;
    position: absolute;
    width: 95%;
    max-width: 50em;
    min-height: 15em;
    max-height: 95%;
    overflow-y: hidden;
    top: 1em;
    z-index: 9999;
    background: #eeeeee;
    color: #222;
    cursor: default;
    font-weight: normal;
    position: relative;
}
.mod_win_wrapper .mod_win .randomProp {
    cursor: pointer;
    border-bottom: 1px rgba(72, 126, 197, 0) dashed;
    transition: border 0.2s;
}
.mod_win_wrapper .mod_win .randomProp:hover {
    border-bottom: 1px #e8e8e8 dashed;
}
.mod_win_wrapper .mod_win .randomPropButton {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.mod_win_wrapper .mod_win .randomPropButton:hover {
    opacity: 1;
}
.mod_win_wrapper .mod_win a {
    font-style: italic;
    text-decoration: none;
}
.mod_win_wrapper .mod_win a[href*='spells'] {
    color: #2e5992;
    border-bottom: 1px rgba(72, 126, 197, 0) dashed;
    background: #f6f9fc;
    transition: border 0.2s;
}
.mod_win_wrapper .mod_win a[href*='spells']:hover {
    border-bottom: 1px #e8e8e8 dashed;
}
.mod_win_wrapper .mod_win a[href*='spells']:visited {
    color: #2e5992;
}
.mod_win_wrapper .mod_win a[href*='spells'] {
    color: #2e5992;
    border-bottom: 1px rgba(72, 126, 197, 0) dashed;
    background: #f6f9fc;
    transition: border 0.2s;
}
.mod_win_wrapper .mod_win a[href*='spells']:hover {
    border-bottom: 1px #e8e8e8 dashed;
}
.mod_win_wrapper .mod_win a[href*='spells']:visited {
    color: #2e5992;
}
.mod_win_wrapper .mod_win a[href*='magic-item'] {
    color: #925d2e;
    background: #fcf9f6;
    border-bottom-color: rgba(197, 131, 72, 0);
}
.mod_win_wrapper .mod_win a[href*='magic-item']:hover {
    border-bottom: 1px #c58348 dashed;
}
.mod_win_wrapper .mod_win a[href*='magic-item']:visited {
    color: #925d2e;
}
.mod_win_wrapper .mod_win a[href*='monsters'] {
    color: #922e45;
    background: #fcf6f8;
    border-bottom-color: rgba(197, 72, 100, 0);
}
.mod_win_wrapper .mod_win a[href*='monsters']:hover {
    border-bottom: 1px #c54864 dashed;
}
.mod_win_wrapper .mod_win a[href*='monsters']:visited {
    color: #922e45;
}
.mod_win_wrapper .mod_win_content {
    padding: 0.5em;
    overflow-y: scroll;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar-thumb {
    background: #777;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar-track {
    background: #ddd;
}
.mod_win_wrapper .mod_win_content body {
    scrollbar-face-color: #777;
    scrollbar-track-color: #ddd;
}
.mod_win_wrapper .bCloseInfoWin {
    position: absolute;
    top: -0.2em;
    right: 0.4em;
    padding: 0.1em 0.2em;
    font-size: 300%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}
.mod_win_wrapper .bCloseInfoWin:hover {
    color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 65em) {
    body {
        background: url('../img/bg2.jpg') center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .page {
        padding-top: 0.5rem;
    }
    .p_cont {
        padding-left: 16em;
        width: 100%;
        padding-top: 0;
    }
}
.row {
    float: none;
    clear: both;
}
.row:before,
.row:after {
    content: '';
    float: none !important;
    clear: both !important;
    display: table !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.row .cell {
    float: left;
    width: 50%;
}
#lockedItemsArea {
    margin-bottom: 0.3em;
    position: relative;
}
#lockedItemsArea .flex_row {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 10%);
}
#lockedItemsArea .topHeader,
#lockedItemsArea .bottomHeader,
#lockedItemsArea .bUnlockAll {
    font-weight: 600;
    padding: 0.2em;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.7),
        -1px 0 2px rgba(255, 255, 255, 0.7), 0 -1px 2px rgba(255, 255, 255, 0.7);
    color: #222;
    border-radius: 0.1em;
}
#lockedItemsArea .topHeader {
    flex-grow: 99;
    /* cursor: pointer;         */
    /* &:hover{ */
    /* background: rgba(255,255,255,.7); */
    /* } */
    /* &:before{ */
    /* content: "Закрепленные предметы " */
    /* } */
}
#lockedItemsArea .bUnlockAll {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    cursor: pointer;
    transition: background 0.3s;
}
#lockedItemsArea .bUnlockAll:hover {
    background: rgba(255, 255, 255, 0.7);
}
#lockedItemsArea .bottomHeader {
    flex-grow: 99;
    /* &:before{ */
    /* content: "Каталог предметов " */
    /* } */
}
#lockedItemsArea > .content {
    margin-bottom: 0.3em;
}
#lockedItemsArea .bHideItem {
    display: none;
}
.bHideItem,
.bLockItem,
.bUnlockItem {
    position: absolute;
    top: -0.1em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
    display: block;
    width: 10px;
    height: 10px;
    background: #ccc;
}
.bHideItem:hover,
.bLockItem:hover,
.bUnlockItem:hover {
    color: #6aa0e7;
}
.bHideItem:active,
.bLockItem:active,
.bUnlockItem:active {
    color: #e8e8e8;
}
.bHideItem {
    right: 0.1em;
}
.bLockItem,
.bUnlockItem {
    left: 0.1em;
}
.spellContainer {
    position: relative;
}
.spellContainer:before {
    content: attr(data-spellcount);
    position: absolute;
    padding: 0.1em;
    top: -1.4rem;
    right: 1.9em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
}
.textContainer {
    page-break-inside: avoid;
    float: none;
    width: auto;
    max-width: 90rem;
    margin: 0 auto 1rem;
    padding: 0.4rem;
    background: rgba(255, 255, 234, 0.99);
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    position: relative;
}
.textContainer h1 {
    font-size: 120%;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    color: #e8e8e8;
}
.textContainer .source {
    position: absolute;
    top: 0.8rem;
    right: 0.4rem;
    font-size: 80%;
    font-weight: bold;
}
.textContainer .school_level {
    font-style: italic;
    margin: 0 0 0.2em;
}
.textContainer .subtitle {
    font-weight: bold;
}
.textContainer .subtitle:after {
    content: ': ';
}
.textContainer .text {
    margin: 0.3rem 0 0;
}
.textCardContainer {
    page-break-inside: avoid;
    float: none;
    width: auto;
    max-width: 90rem;
    margin: 0 auto 1.3rem;
}
.textCardContainer .inner {
    margin: 0.3rem;
    padding: 0.2rem 1.7rem 0.9rem;
    background: rgba(255, 255, 247, 0.98);
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    position: relative;
}
.textCardContainer .flex {
    display: flex;
    flex-wrap: wrap;
}
.textCardContainer .column {
    flex-direction: column;
}
.textCardContainer .column:not(:last-child) {
    padding-right: 0.5rem;
}
.textCardContainer .primal {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    min-width: 190px;
    margin-bottom: 1em;
}
.textCardContainer .secondal {
    flex-grow: 6;
    flex-basis: 70%;
    flex-shrink: 1;
}
.textCardContainer .thirdal {
    flex-basis: 50%;
    min-width: 22rem;
}
.textCardContainer h1 {
    font-size: 120%;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    color: #e8e8e8;
}
.textCardContainer .source {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
}
.textCardContainer .school_level {
    font-style: italic;
    text-transform: lowercase;
}
.textCardContainer .subtitle {
    font-weight: bold;
}
.textCardContainer .text {
    border-top: 2px solid rgba(221, 221, 221, 0.2);
    padding: 0.9rem 0 0;
    margin-top: 0.9rem;
}
.textCardContainer .material_components {
    font-size: 90%;
    margin-top: 1.2rem;
    font-style: italic;
    text-transform: lowercase;
}
.cardContainer {
    page-break-inside: avoid;
    width: 2.5in;
    margin-right: 1px;
    margin-top: 1px;
    float: left;
}
.cardContainer .row {
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
.cardContainer .row .cell {
    float: none;
    text-align: center;
    font-size: 65%;
}
.cardContainer .row .cell:first-of-type {
    border-right: 1px solid #e8e8e8;
}
.cardContainer .row .cell:last-of-type {
    border-left: 1px solid #e8e8e8;
}
.cardContainer .row .cell span,
.cardContainer .row .cell b {
    display: block;
}
.cardContainer .row .cell b {
    text-transform: uppercase;
    font-size: 90%;
    padding: 2px 0 0;
}
.spellCard {
    height: 3.5in;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    color: #000;
}
.spellCard.selected {
    transform: scale(0.94);
    outline: 5px rgba(250, 250, 250, 0.8) solid;
    transition: outline 0.2s;
}
.spellCard.selected:hover {
    outline-color: #e8e8e8;
}
.spellCard .content {
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0 0 20px;
}
.spellCard .cell span {
    font-size: 109%;
}
.spellCard h1 {
    font-size: 95%;
    margin: 0;
    padding: 0;
    padding-left: 0.9em;
    padding-right: 0.9em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #e8e8e8;
}
.spellCard .materials {
    color: #fff;
    background: #e8e8e8 !important;
    font-size: 75%;
    padding: 0 2px;
    font-style: oblique;
    display: none;
}
.spellCard .text {
    font-size: 75%;
    padding: 2px;
    overflow-y: auto;
    flex-shrink: 99;
    line-height: normal;
}
.spellCard .text::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.spellCard .text::-webkit-scrollbar-thumb {
    background: #777;
}
.spellCard .text::-webkit-scrollbar-track {
    background: #ddd;
}
.spellCard .text body {
    scrollbar-face-color: #777;
    scrollbar-track-color: #ddd;
}
.spellCard .sizeButtonsContainer {
    position: absolute;
    bottom: 0;
    left: 0.1em;
    right: 0.1em;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}
.spellCard .sizeButtonsContainer .textMin,
.spellCard .sizeButtonsContainer .textMax {
    padding: 0 0.5em;
    font-size: 120%;
    color: #cccccc;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
}
.spellCard .sizeButtonsContainer .textMin:hover,
.spellCard .sizeButtonsContainer .textMax:hover {
    color: #e8e8e8;
}
.spellCard .class {
    position: absolute;
    left: 1px;
    bottom: inherit;
    font-size: 70%;
    color: #000;
    cursor: default;
}
.spellCard .school {
    position: absolute;
    right: 1px;
    bottom: inherit;
    font-size: 70%;
    color: #000;
    cursor: default;
}
.lockedSpell .bLockItem {
    color: #000;
    text-shadow: 0 0 2px #e8e8e8;
}
.Bard .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Bard .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Bard .spellCard .materials {
    background: #e8e8e8 !important;
}
.Bard .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Bard .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Bard .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Cleric .spellCard {
}
.Cleric .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Cleric .spellCard .materials {
    background: #e8e8e8 !important;
}
.Cleric .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Cleric .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Cleric .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Druid .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Druid .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Druid .spellCard .materials {
    background: #e8e8e8 !important;
}
.Druid .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Druid .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Druid .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Paladin .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Paladin .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Paladin .spellCard .materials {
    background: #e8e8e8 !important;
}
.Paladin .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Paladin .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Paladin .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Ranger .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Ranger .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Ranger .spellCard .materials {
    background: #e8e8e8 !important;
}
.Ranger .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Ranger .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Ranger .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Sorcerer .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Sorcerer .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Sorcerer .spellCard .materials {
    background: #e8e8e8 !important;
}
.Sorcerer .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Sorcerer .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Sorcerer .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Warlock .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Warlock .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Warlock .spellCard .materials {
    background: #e8e8e8 !important;
}
.Warlock .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Warlock .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Warlock .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.Wizard .spellCard {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.Wizard .spellCard h1 {
    border-bottom-color: #e8e8e8;
}
.Wizard .spellCard .materials {
    background: #e8e8e8 !important;
}
.Wizard .spellCard .row {
    border-bottom-color: #e8e8e8;
}
.Wizard .spellCard .row .cell:first-of-type {
    border-right-color: #e8e8e8;
}
.Wizard .spellCard .row .cell:last-of-type {
    border-left-color: #e8e8e8;
}
.p_side {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 9;
    color: #fff;
    border-radius: 0 0 3px 0;
}
.p_side .blink {
    animation-name: blink;
    animation-duration: 4s;
}
@keyframes blink {
    from {
        background-color: #e8e8e8;
    }
    to {
        background-color: #ddd;
    }
}
.p_side .s_block {
    float: left;
    min-width: 13em;
    max-width: 16em;
    width: 98%;
    margin: 0.1em;
    text-align: right;
    min-height: 22px;
}
.p_side .flt {
    background: rgba(0, 0, 0, 0.2);
}
.p_side .s_sp {
    margin: 0;
    padding: 0.1em;
    width: 9em;
}
.p_side input[type='radio'] {
    display: none;
}
.p_side input[type='radio'] + label {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #555555;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 2.2em;
    min-height: 1em;
    text-align: center;
    background: #888888;
    display: inline-block;
    padding: 0.3em;
}
.p_side input[type='radio'] + label:hover {
    background: #999999;
}
.p_side input[type='radio'] + label:active {
    background: #777;
}
.p_side input[type='radio'] + label input {
    display: none;
}
.p_side input[type='radio']:checked + label {
    -webkit-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    -moz-border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    overflow: visible;
    background: #fff;
    border: 0px solid #d8d8d8;
    border-top-width: 0px;
    /*display: inline-block;*/
    font-weight: bold;
    padding: 0.7em;
    margin: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 2px;
    text-decoration: none;
    border-color: #777;
    color: #fff;
    background: #666666;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #555555;
    padding: 0.3em;
}
.p_side .hidden_spells {
    max-width: 99.4%;
    width: 100%;
    text-align: left;
}
.p_side .hidden_spells .a_h_spell {
    display: inline-block;
    display: none;
    text-transform: capitalize;
    color: #fff;
    width: 100%;
    max-width: 2.5in;
    padding: 0.3em 0;
}
.p_side .hidden_spells .a_h_spell:hover {
    color: #cccccc;
}
.p_side .inline-block {
    display: inline-block;
}
.p_side .block {
    display: block;
    max-width: 100%;
    width: auto;
}
#HiddenItems a {
    text-decoration: none;
    color: #ddd;
    transition: color 0.3s;
    margin: 0.2em;
}
#HiddenItems a:hover {
    color: #6aa0e7;
}
#HiddenItems a:active {
    color: #e8e8e8;
}
#HiddenItems .bReturnUnvisible {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.4em 0;
    background: rgba(200, 200, 200, 0.2);
    border-bottom: 1px dashed rgba(100, 100, 100, 0.6);
}
.mediaWidth {
    margin: 0.3em 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
@media screen and (min-width: 65em) {
    .p_side {
        width: 15em;
        margin-right: 1em;
        float: left;
        padding: 0.3em;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
    }
    .p_side .s_block {
        width: 98%;
    }
    .mediaWidth {
        flex-basis: auto;
    }
}
.loader {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #fff;
    margin: 5px;
    position: relative;
    top: 16px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    /*/
    @w2: @w/2;
    @b: 4px;
    /**/
    /**/
    /**/
    /**/
}
.loader:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 10px solid #8db6f3;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
    animation-name: spin;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media print {
    .noprint {
        display: none !important;
    }
    #wrap {
        overflow-x: hidden;
    }
    body {
        background: #fff;
        background-image: none;
        margin: 0;
        padding: 0;
    }

    .bHideItem,
    .bLockItem,
    .bUnlockItem,
    .bHideSpell,
    .bLockSpell,
    .p_side,
    #helper {
        display: none !important;
        width: 0;
        height: 0;
    }
    .p_cont {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 0;
        overflow: hidden;
        transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
    }
    .p_cont .hide_spell {
        display: none;
    }
    .left,
    .right {
        width: 50%;
    }
    #wrap {
        margin: 0;
        padding: 0;
    }
    .card {
        width: 2.46in;
        min-width: 0px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
    }
    .pagebreak {
        page-break-after: always;
    }
    .card:hover .hide_monster {
        display: none;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    .spellCard .content .text {
        overflow-y: hidden;
    }
    #lockedSpellsArea .topHeader,
    #lockedSpellsArea .bottomHeader {
        display: none;
    }
    .textCardContainer .inner {
        background: none;
    }
}
@page {
    margin: 1.14cm 0.9cm 0.9cm;
}
